@model IEnumerable<Fitness_Club2.Models.Training>

@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Тренировки сегодня</h2><br />

<div class="container-fluid">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="breadcrumb">
                    <b>@Html.DisplayNameFor(model => model.dateOfTraining)</b><span> - </span>@Html.DisplayFor(modelItem => item.dateOfTraining)
                    <br /><br />
                    <b>@Html.DisplayNameFor(model => model.Room.Name_Room)</b> <span> - </span> @Html.DisplayFor(modelItem => item.Room.Name_Room)
                    <br /><br />
                    <b>@Html.DisplayNameFor(model => model.Trainer.Name)</b> <span> - </span> @Html.DisplayFor(modelItem => item.Trainer.Name)
                    <br /><br />
                    <b>@Html.DisplayNameFor(model => model.Training_Name)</b><span> - </span>@Html.DisplayFor(modelItem => item.Training_Name)
                    <br /><br />
                    <b>@Html.DisplayNameFor(model => model.TimeOfTraining)</b><span> - </span>@Html.DisplayFor(modelItem => item.TimeOfTraining)
                    <br /><br />
                    <b>Количество записанных</b><span> - </span>@Html.DisplayFor(modelItem => item.TrainingUsers.Count)

                </div>
            </div>
         }            
    </div>    
</div>



