@model IEnumerable<Fitness_Club2.Models.Training>

@{
    ViewBag.Title = "Ваши тренировки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ваши тренировки</h2>

<p>
    @Html.ActionLink("Записаться", "Create", "Trainings")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.Name_Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trainer.Name)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.TimeOfTraining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfTraining)
        </th>
        <th>
            Людей записалось
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Name_Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trainer.Name)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfTraining)
        </td>
        <td>
            @item.dateOfTraining.ToShortDateString()
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.TrainingUsers.Count)
        </td>
        <td>
            <a href="/Trainings/Delete/?id=@item.IdTraining">Удалить</a>                      
        </td>
    </tr>
}

</table>
