@model Fitness_Club2.Models.Training

@{
    ViewBag.Title = "Удалить тренировку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Уверены, что хотите удалить?</h3>
<div>
    <h4>Тренировка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateOfTraining)
        </dt>

        <dd>
            @Model.dateOfTraining.ToShortDateString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room.Name_Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Name_Room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.Name)
        </dd>       

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfTraining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfTraining)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
