@model Fitness_Club2.Models.Training

@{
    ViewBag.Title = "Детально";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детально</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateOfTraining)
        </dt>

        <dd>
            @Model.dateOfTraining.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Name_Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Name_Room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.TimeOfTraining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfTraining)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.IdTraining }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
